@using RealStateApp.Core.Application.ViewModels.User
@model UpdateUserViewModel
@{
    ViewData["Title"] = "Perfil del Usuario";
    var userRole = ViewBag.UserRole as string;
}

<div>
    <h2>Información del Usuario</h2>
    <table class="table">
        <tr>
            <th>Foto de Perfil</th>
            <td>
                @if (!string.IsNullOrEmpty(Model.ProfilePicture))
                {
                    <img src="@Model.ProfilePicture" alt="Foto de Perfil" style="width:150px;height:150px;" />
                }
                else
                {
                    <span>No disponible</span>
                }
            </td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <th>Nombre de Usuario</th>
            <td>@Model.Username</td>
        </tr>
        <tr>
            <th>Cedula</th>
            <td>@Model.Cedula</td>
        </tr>
        <tr>
            <th>Correo Electrónico</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Número de Teléfono</th>
            <td>@Model.Phone</td>
        </tr>
    </table>

    <div class="text-right">
        <a asp-controller="Maintenance" asp-action="Edit" asp-route-id="@Model.Id" asp-route-userRole="@userRole" class="btn btn-sm btn-outline-info">Editar</a>
    </div>
</div>
